
.container {
    display: flex;
    justify-content: center;
    
  }

.direction-column {
    flex-direction: column;
}

.microphone-logo {
    height: 86px;
    width: 100%;
    fill: #f9bc60;
    
    cursor: pointer;
}

.direction-row {
    flex-direction: row;
}

.recording-state {
    margin: 10px;
    padding: 10px;
}

.recording-state p {
    color: #e16162;
    font-family: Consolas;
    font-size: 1rem;
}
  
  
  
  .blinking {
    -webkit-animation: 1s blink ease infinite;
    -moz-animation: 1s blink ease infinite;
    -ms-animation: 1s blink ease infinite;
    -o-animation: 1s blink ease infinite;
    animation: 1s blink ease infinite;
    
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }