#buttonPrimary {
    background-color: rgb(249, 188, 96);
    color: rgb(0, 30, 29);
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve - 3d;
    padding: 1.2rem 2rem;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}